doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel="stylesheet" href="/css/style.css")
    link(href='css/fullcalendar.min.css', rel='stylesheet')

    block head_end
	
  body
    block content
		
    script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    script(type="text/javascript" src="/js/script.js")
    script(src='js/moment.min.js')
    script(src='js/fullcalendar.min.js')
    script.
        $(document).ready(function() {
            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').toggleClass('active');
            });
        });
        $(document).ready(function() {
            $('#characterLeft').text('300 karakter kaldı');
            $('#message').keydown(function() {
                var max = 300;
                var len = $(this).val().length;
                if (len >= max) {
                    $('#characterLeft').text('Limite ulaştınız');
                    $('#characterLeft').addClass('red');
                    $('#btnSubmit').addClass('disabled');
                } else {
                    var ch = max - len;
                    $('#characterLeft').text(ch + ' karakter kaldı');
                    $('#btnSubmit').removeClass('disabled');
                    $('#characterLeft').removeClass('red');
                }
            });
        });
        
        $(document).ready(function() {
                
                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay,listWeek'
                    },
                    defaultDate: '2017-11-12',
                    navLinks: true, // can click day/week names to navigate views
                    editable: true,
                    eventLimit: true, // allow "more" link when too many events
                    events: [
                        {
                            title: 'All Day Event',
                            start: '2017-11-01',
                        },
                        {
                            title: 'Long Event',
                            start: '2017-11-07',
                            end: '2017-11-10'
                        },
                        {
                            id: 999,
                            title: 'Repeating Event',
                            start: '2017-11-09T16:00:00'
                        },
                        {
                            id: 999,
                            title: 'Repeating Event',
                            start: '2017-11-16T16:00:00'
                        },
                        {
                            title: 'Conference',
                            start: '2017-11-11',
                            end: '2017-11-13'
                        },
                        {
                            title: 'Meeting',
                            start: '2017-11-12T10:30:00',
                            end: '2017-11-12T12:30:00'
                        },
                        {
                            title: 'Lunch',
                            start: '2017-11-12T12:00:00'
                        },
                        {
                            title: 'Meeting',
                            start: '2017-11-12T14:30:00'
                        },
                        {
                            title: 'Happy Hour',
                            start: '2017-11-12T17:30:00'
                        },
                        {
                            title: 'Dinner',
                            start: '2017-11-12T20:00:00'
                        },
                        {
                            title: 'Birthday Party',
                            start: '2017-11-13T07:00:00'
                        },
                        {
                            title: 'Click for Google',
                            url: 'http://google.com/',
                            start: '2017-11-28'
                        }
                    ]
                });
                
            });
            
    block body_end