section#main
  .container
    .page-header
        h1
          | Aktiviteler 
          small Güncel Aktivite Takibi
    .row.profile
      .col-md-12
        .profile-content
          .activity-feed
            .feed-item
              .date Ocak 25
              .text
                | Sistem'den
                a(href='#') “Çıkış”
                | yapıldı
            .feed-item
              .date Ocak 24
              .text Etkinlik Güncesi Düzenlendi
            .feed-item
              .date Ocak 23
              .text
                | Yeni Gruba Katılım Sağlandı. 
                a(href='#') “Boardsmanship Forum”
            .feed-item
              .date Ocak 20
              .text
                | Yeni 
                a(href='#') “Başarılar”
                | sağlandı
            .feed-item
              .date Ocak 15
              .text
                | Yeni 
                a(href='#') “Etkinlik”
                |  katılımı sağlandı
            .feed-item
              .date Ocak 08
              .text
                | Giriş Yapıldı 
                a(href='#') “Yeni Etkinlik"
                |  oluşturuldu
