.left
  .item
    a(href='index.html')
      span.glyphicon.glyphicon-th-large
      |     Anasayfa
  .item.active
    a(href='ogrenci.html')
      span.glyphicon.glyphicon-th-list
      |     Öğrenci İşlemleri
  .item
    a(href='ders.html')
      span.glyphicon.glyphicon-log-out
      |     Ders Programı
  .item
    a(href='aktivite.html')
      span.glyphicon.glyphicon-log-out
      |     Aktiviteler
  .item
    a(href='#')
      span.glyphicon.glyphicon-star
      |     Başarılar
  .item
    a(href='sss.html')
      span.glyphicon.glyphicon-random
      |     S.S.S
  .item
    a(href='iletisim.html')
      span.glyphicon.glyphicon-phone
      |     İletişim
